html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  color: #4AF626;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}

body {
  margin: 0;
  padding: 0 20px 40px;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

td, th {
  border: 1px solid #144d05;
  padding: 6px 12px;
  text-align: left;
  color: #4AF626;
  background-color: #001000;
}

th {
  background-color: #003300;
  font-weight: bold;
}

a {
  color: #4AF626;
  text-decoration: none;
  border-bottom: 1px dotted #4AF626;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
}

a:hover, a:focus {
  background-color: #4AF626;
  color: #000000;
  outline: none;
}


nav {
  background-color: #001100;
  color: #4AF626;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #144d05;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #4AF626;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px dotted #4AF626;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #4AF626;
  color: #000000;
  outline: none;
}

footer {
  background-color: #001100;
  color: #4AF626;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  border-top: 1px solid #144d05;
}

::selection {
  background: #4AF626;
  color: #000000;
}

a.wiki-link {
  color: #4AF626;
  text-decoration: none;
  border-bottom: 1px dotted #4AF626;
}
a.wiki-link:hover, a.wiki-link:focus {
  background-color: #4AF626;
  color: #000000;
  outline: none;
}
