body {
    background-color: black;
    color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.cool {
  padding: 12px 20px;
  background: #2a2a3d;
  border: 2px solid #199515;
  color: #199515;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  

  text-shadow: 0 0 5px #21bd1c, 0 0 10px #21bd1c;
  box-shadow: 0 0 5px #199515, inset 0 0 5px #199515;

  border-radius: 6px;               
  transition: all 0.2s ease;
}

.cool:hover {
  background: #199515;
  color: #0f0f0f;
  text-shadow: 0 0 8px #101010;
  box-shadow: 0 0 15px #21bd1c, inset 0 0 10px #21bd1c;
  transform: translateY(-2px); /* subtle lift */
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
      width: 50%;
  padding: 0 20px;
}