body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #222;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

.blog {
  flex: 2;
  padding: 15px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post {
  background: #f9f9f9;
  padding: 12px 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.quotes {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quote {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border-left: 4px solid #6aa0d6;
  font-style: italic;
  background: lightblue;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.quote:hover {
  transform: scale(1.05);
}

h1, h2 {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

nav {
  background-color: #014a63;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #144d05;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #cfcdff;
  text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #cfcdff;
  color: #000000;
  outline: none;
}