/* Scanlines */

.scanlines {
    overflow: hidden;
    position: relative;
}
.scanlines:before,
.scanlines:after {
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
}
.scanlines:before {
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    animation: scanline 6s linear infinite;
}
.scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.3) 51%
    );
    background-size: 100% 4px;
    animation: scanlines 1s steps(60) infinite;
}

@keyframes scanline {
    0% {
        transform: translate3d(0, 200000%, 0);
    }
}
@keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}
div {
    margin: 0;
    padding: 0;
}
div.scanlines {
    position: absolute;
}
body {
    position: relative;
    background: #202020;
    color: #199515;
    font-family: 'Press Start 2P', monospace;
    font-size: 10px;
      line-height: 1.5;
}
a {
    color: #21bd1c;
}

h1 {
    line-height: 1;
}

.button {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.dot {
  height: 12px;
  width: 12px;
  display: inline-block;
    color: white;
}

.container {
  border: 3px solid #101010;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.top {
  padding: 10px;
  background: #080808;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 15px;
}

.content {
  padding: 10px;
  background-color: #151515;
}

.helplist {
  list-style: none;
  padding: 5px;
  margin: 0;
  background-color: #151515;
  border-top: 2px solid #101010;
}
