html {
  font-family: Arial, sans-serif;
  background-color: #474954;
  color: #e6e6e6;
}


table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #adabb1;
  text-align: left;
  padding: 8px;
}

a {
  color: #9688b2;
  text-decoration: none;
  text-decoration: underline;
  font-size: 110%;
}
footer {
  background-color: #303136;
  color: #e6e6e6;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}